body {
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20230409/pngtree-abstract-cyan-lights-background-design-stock-vector-blue-wallpaper-image_2369002.jpg?w=600') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
