
.card-body {
    color: rgb(39, 3, 23);

}
  /* navbar content */
.navbar.navbar-white .nav-link {
    color: white;
  }
  .navbar-brand {
    color: white !important; /* Set the text color to white */
  }
  body {
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20230409/pngtree-abstract-cyan-lights-background-design-stock-vector-blue-wallpaper-image_2369002.jpg?w=600') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
#exampleCircle{
    width: 100px;
    height: 95px;
    background: rgba(3, 98, 117, 0.867);
    border-radius: 60%;
}
.dropzone {
    min-height: 50px;
    border: 30px solid hwb(191 8% 11% / 0.933);
    background: hwb(187 4% 10% / 0.933);
    padding: 20px 20px;
  }
  .nameplate-wrapper {
    overflow: hidden;
    white-space: nowrap;
    border: 8px solid hwb(340 0% 99%);
    border-radius: 5px;
    width: 1115px; /* Adjust the width as needed */
    background-color: hwb(220 93% 4%);
}

.nameplate {
    /* display: inline-block; */
    padding: 7px ;
    font-size: 16px;
    font-weight: bold;
    color: hwb(266 4% 8%);
    /* white-space: nowrap; */
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
 /* .card-header11{
    border: 30px solid hsla(14, 93%, 48%, 0.902);
  } */

